@model TiendaFunko.Models.Usuario

<main class="container login-container">
    <h1 class="title-container-h1">INGRESAR A MI CUENTA</h1>
    <form asp-action="Loguear" class="form-admin">
        <div class="form-admin__product-details login-container__details">
            <label asp-for="Email">Email</label>
            <input class="admin-input" asp-for="Email" type="email" name="Email" id="Email" placeholder="ejemplo@correo.com">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-admin__product-details login-container__details">
            <label asp-for="Password">Contraseña</label>
            <input class="admin-input" type="password" asp-for="Password" name="Password" id="Password" placeholder="**********">
            <span asp-validation-for="Password"></span>
        </div>
        <span class="red-text">@ViewBag.errorLogin</span>
        <div class="form-admin__product-details login-container-buttons">
            <button class="form-admin__btn login-container-buttons__btn" type="submit">INGRESAR</button>
            <input class="login-container-buttons__btn-checkbox" type="checkbox" name="rememberme" id="rememberme">
            <label style="display:block;" for="rememberme" class="check-loguin">Recordarme</label>
        </div>
        <a href="" class="link-password">Olvide mi contraseña</a>
    </form>

</main>